.video {
  z-index: -1;
  position: fixed;
  top: -30%;
  left: -20%;
  width: 150%;
  height: 150%;
}

.adContainer{
  display: flex;
  justify-content: space-around;
}

.advertising {
  display: flex;
  justify-content: space-around;
}

.introduction {
  position: absolute;
  top: 18%; 
  left: 50%; 
  margin-right: -50%; 
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 5;
}

.introduction h1 {
  font-size: 60px;
  text-shadow: 4px 4px 2px rgb(50, 50, 50);
  opacity: 0;
  transition: 1s;
  font-weight: 900;
  animation: show 2s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.introduction h2 {
  font-size: 35px;
  text-shadow: 3px 3px 2px rgb(50, 50, 50);
  color: rgb(255, 251, 0);
  opacity: 0;
  transition: 1s;
  animation: show 2s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.introduction span {
  color: white;
  background: url(united-states.png) 400px -215px repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

@keyframes show{
  0%{
  opacity:0;
  }
  100% {
  opacity:1;
  }
  }