.container {
  z-index: 15;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 27em;
  width: 40%;
  background-color: rgb(49, 49, 49);
  color: #fff;
}

.ticketsMenu{
  width: 100%;
}

.ticketsMenu h1 {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

.chooseTitle {
  font-size: 40px;
  text-align: center;
  color: rgb(206, 80, 80);
  font-weight: 900;
}

.order {
  font-size: 25px;
  padding: 0;
  margin: 10px;
  border: 3px solid white;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order p {
  margin: 5px 20px 5px 10px;
}

.formContainer{
  width: 100%;
  margin: auto;
  text-align: center;
}

.formContainer input {
  padding: 0;
  margin: 0;
  width: 250px;
  font-size: 25px;
}

.formContainer h3 {
  display: block;
  margin: 5px;
}