.increment {
    background-color: #50ce29;
    border: none;
    color: white;
    padding: 4px 13px;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
    opacity: 0.8;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.decrement {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  font-size: 30px;
  margin: 4px 2px;
  opacity: 0.8;
}

.submit {
  background-color: #50ce29;
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  font-size: 25px;
  margin: 20px auto;
  opacity: 0.8;
  display: block;
}

.decrement:disabled, .submit:disabled{
  background-color: grey;
  cursor: not-allowed
}

.increment:hover, .decrement:hover, .submit:hover {opacity: 1; transform: scale(1.1);}
