.increment {
    background-color: #50ce29;
    border: none;
    color: white;
    padding: 4px 13px;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
    opacity: 0.8;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.decrement {
  background-color: #f4511e;
  padding: 4px 16px;
}

.decrement:disabled{
  cursor: not-allowed
}

.increment:hover, .decrement:hover {opacity: 1}
